src/conf/xml-resources/web-service-references/ServicioProveedor/wsdl/localhost_8091/appServidor/ServicioProveedor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="ServicioProveedor">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8091/appServidor/ServicioProveedor?xsd=1" />
</xsd:schema>
</types>
<message name="listarProveedores">
<part name="parameters" element="tns:listarProveedores" />
</message>
<message name="listarProveedoresResponse">
<part name="parameters" element="tns:listarProveedoresResponse" />
</message>
<message name="actualizarProveedor">
<part name="parameters" element="tns:actualizarProveedor" />
</message>
<message name="actualizarProveedorResponse">
<part name="parameters" element="tns:actualizarProveedorResponse" />
</message>
<message name="eliminarProveedor">
<part name="parameters" element="tns:eliminarProveedor" />
</message>
<message name="eliminarProveedorResponse">
<part name="parameters" element="tns:eliminarProveedorResponse" />
</message>
<message name="insertarProveedor">
<part name="parameters" element="tns:insertarProveedor" />
</message>
<message name="insertarProveedorResponse">
<part name="parameters" element="tns:insertarProveedorResponse" />
</message>
<message name="obtenerProveedor">
<part name="parameters" element="tns:obtenerProveedor" />
</message>
<message name="obtenerProveedorResponse">
<part name="parameters" element="tns:obtenerProveedorResponse" />
</message>
<message name="obtenerNombreEmpresa">
<part name="parameters" element="tns:obtenerNombreEmpresa" />
</message>
<message name="obtenerNombreEmpresaResponse">
<part name="parameters" element="tns:obtenerNombreEmpresaResponse" />
</message>
<portType name="ServicioProveedor">
<operation name="listarProveedores">
<input wsam:Action="http://services/ServicioProveedor/listarProveedoresRequest" message="tns:listarProveedores" />
<output wsam:Action="http://services/ServicioProveedor/listarProveedoresResponse" message="tns:listarProveedoresResponse" />
</operation>
<operation name="actualizarProveedor">
<input wsam:Action="http://services/ServicioProveedor/actualizarProveedorRequest" message="tns:actualizarProveedor" />
<output wsam:Action="http://services/ServicioProveedor/actualizarProveedorResponse" message="tns:actualizarProveedorResponse" />
</operation>
<operation name="eliminarProveedor">
<input wsam:Action="http://services/ServicioProveedor/eliminarProveedorRequest" message="tns:eliminarProveedor" />
<output wsam:Action="http://services/ServicioProveedor/eliminarProveedorResponse" message="tns:eliminarProveedorResponse" />
</operation>
<operation name="insertarProveedor">
<input wsam:Action="http://services/ServicioProveedor/insertarProveedorRequest" message="tns:insertarProveedor" />
<output wsam:Action="http://services/ServicioProveedor/insertarProveedorResponse" message="tns:insertarProveedorResponse" />
</operation>
<operation name="obtenerProveedor">
<input wsam:Action="http://services/ServicioProveedor/obtenerProveedorRequest" message="tns:obtenerProveedor" />
<output wsam:Action="http://services/ServicioProveedor/obtenerProveedorResponse" message="tns:obtenerProveedorResponse" />
</operation>
<operation name="obtenerNombreEmpresa">
<input wsam:Action="http://services/ServicioProveedor/obtenerNombreEmpresaRequest" message="tns:obtenerNombreEmpresa" />
<output wsam:Action="http://services/ServicioProveedor/obtenerNombreEmpresaResponse" message="tns:obtenerNombreEmpresaResponse" />
</operation>
</portType>
<binding name="ServicioProveedorPortBinding" type="tns:ServicioProveedor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="listarProveedores">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="actualizarProveedor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="eliminarProveedor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertarProveedor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerProveedor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerNombreEmpresa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ServicioProveedor">
<port name="ServicioProveedorPort" binding="tns:ServicioProveedorPortBinding">
<soap:address location="http://localhost:8091/appServidor/ServicioProveedor" />
</port>
</service>
</definitions>