src/conf/xml-resources/web-service-references/ServicioEmpleado/wsdl/localhost_8091/appServidor/ServicioEmpleado.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="ServicioEmpleado">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8091/appServidor/ServicioEmpleado?xsd=1" />
</xsd:schema>
</types>
<message name="obtenerEmpleadoPorEmail">
<part name="parameters" element="tns:obtenerEmpleadoPorEmail" />
</message>
<message name="obtenerEmpleadoPorEmailResponse">
<part name="parameters" element="tns:obtenerEmpleadoPorEmailResponse" />
</message>
<message name="login">
<part name="parameters" element="tns:login" />
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse" />
</message>
<message name="actualizarEmpleado">
<part name="parameters" element="tns:actualizarEmpleado" />
</message>
<message name="actualizarEmpleadoResponse">
<part name="parameters" element="tns:actualizarEmpleadoResponse" />
</message>
<message name="registrarEmpleado">
<part name="parameters" element="tns:registrarEmpleado" />
</message>
<message name="registrarEmpleadoResponse">
<part name="parameters" element="tns:registrarEmpleadoResponse" />
</message>
<message name="obtenerEmpleadoPorId">
<part name="parameters" element="tns:obtenerEmpleadoPorId" />
</message>
<message name="obtenerEmpleadoPorIdResponse">
<part name="parameters" element="tns:obtenerEmpleadoPorIdResponse" />
</message>
<message name="eliminarEmpleado">
<part name="parameters" element="tns:eliminarEmpleado" />
</message>
<message name="eliminarEmpleadoResponse">
<part name="parameters" element="tns:eliminarEmpleadoResponse" />
</message>
<message name="listarEmpleados">
<part name="parameters" element="tns:listarEmpleados" />
</message>
<message name="listarEmpleadosResponse">
<part name="parameters" element="tns:listarEmpleadosResponse" />
</message>
<message name="obtenerNombreApellido">
<part name="parameters" element="tns:obtenerNombreApellido" />
</message>
<message name="obtenerNombreApellidoResponse">
<part name="parameters" element="tns:obtenerNombreApellidoResponse" />
</message>
<portType name="ServicioEmpleado">
<operation name="obtenerEmpleadoPorEmail">
<input wsam:Action="http://services/ServicioEmpleado/obtenerEmpleadoPorEmailRequest" message="tns:obtenerEmpleadoPorEmail" />
<output wsam:Action="http://services/ServicioEmpleado/obtenerEmpleadoPorEmailResponse" message="tns:obtenerEmpleadoPorEmailResponse" />
</operation>
<operation name="login">
<input wsam:Action="http://services/ServicioEmpleado/loginRequest" message="tns:login" />
<output wsam:Action="http://services/ServicioEmpleado/loginResponse" message="tns:loginResponse" />
</operation>
<operation name="actualizarEmpleado">
<input wsam:Action="http://services/ServicioEmpleado/actualizarEmpleadoRequest" message="tns:actualizarEmpleado" />
<output wsam:Action="http://services/ServicioEmpleado/actualizarEmpleadoResponse" message="tns:actualizarEmpleadoResponse" />
</operation>
<operation name="registrarEmpleado">
<input wsam:Action="http://services/ServicioEmpleado/registrarEmpleadoRequest" message="tns:registrarEmpleado" />
<output wsam:Action="http://services/ServicioEmpleado/registrarEmpleadoResponse" message="tns:registrarEmpleadoResponse" />
</operation>
<operation name="obtenerEmpleadoPorId">
<input wsam:Action="http://services/ServicioEmpleado/obtenerEmpleadoPorIdRequest" message="tns:obtenerEmpleadoPorId" />
<output wsam:Action="http://services/ServicioEmpleado/obtenerEmpleadoPorIdResponse" message="tns:obtenerEmpleadoPorIdResponse" />
</operation>
<operation name="eliminarEmpleado">
<input wsam:Action="http://services/ServicioEmpleado/eliminarEmpleadoRequest" message="tns:eliminarEmpleado" />
<output wsam:Action="http://services/ServicioEmpleado/eliminarEmpleadoResponse" message="tns:eliminarEmpleadoResponse" />
</operation>
<operation name="listarEmpleados">
<input wsam:Action="http://services/ServicioEmpleado/listarEmpleadosRequest" message="tns:listarEmpleados" />
<output wsam:Action="http://services/ServicioEmpleado/listarEmpleadosResponse" message="tns:listarEmpleadosResponse" />
</operation>
<operation name="obtenerNombreApellido">
<input wsam:Action="http://services/ServicioEmpleado/obtenerNombreApellidoRequest" message="tns:obtenerNombreApellido" />
<output wsam:Action="http://services/ServicioEmpleado/obtenerNombreApellidoResponse" message="tns:obtenerNombreApellidoResponse" />
</operation>
</portType>
<binding name="ServicioEmpleadoPortBinding" type="tns:ServicioEmpleado">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="obtenerEmpleadoPorEmail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="actualizarEmpleado">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="registrarEmpleado">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerEmpleadoPorId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="eliminarEmpleado">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listarEmpleados">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerNombreApellido">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ServicioEmpleado">
<port name="ServicioEmpleadoPort" binding="tns:ServicioEmpleadoPortBinding">
<soap:address location="http://localhost:8091/appServidor/ServicioEmpleado" />
</port>
</service>
</definitions>