src/conf/xml-resources/web-service-references/ServicioCliente/wsdl/localhost_8091/appServidor/ServicioCliente.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="ServicioCliente">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8091/appServidor/ServicioCliente?xsd=1" />
</xsd:schema>
</types>
<message name="loginCliente">
<part name="parameters" element="tns:loginCliente" />
</message>
<message name="loginClienteResponse">
<part name="parameters" element="tns:loginClienteResponse" />
</message>
<message name="actualizarCliente">
<part name="parameters" element="tns:actualizarCliente" />
</message>
<message name="actualizarClienteResponse">
<part name="parameters" element="tns:actualizarClienteResponse" />
</message>
<message name="obtenerClientePorEmail">
<part name="parameters" element="tns:obtenerClientePorEmail" />
</message>
<message name="obtenerClientePorEmailResponse">
<part name="parameters" element="tns:obtenerClientePorEmailResponse" />
</message>
<message name="verificarCliente">
<part name="parameters" element="tns:verificarCliente" />
</message>
<message name="verificarClienteResponse">
<part name="parameters" element="tns:verificarClienteResponse" />
</message>
<message name="registrarCliente">
<part name="parameters" element="tns:registrarCliente" />
</message>
<message name="registrarClienteResponse">
<part name="parameters" element="tns:registrarClienteResponse" />
</message>
<message name="listarClientes">
<part name="parameters" element="tns:listarClientes" />
</message>
<message name="listarClientesResponse">
<part name="parameters" element="tns:listarClientesResponse" />
</message>
<message name="eliminarCliente">
<part name="parameters" element="tns:eliminarCliente" />
</message>
<message name="eliminarClienteResponse">
<part name="parameters" element="tns:eliminarClienteResponse" />
</message>
<portType name="ServicioCliente">
<operation name="loginCliente">
<input wsam:Action="http://services/ServicioCliente/loginClienteRequest" message="tns:loginCliente" />
<output wsam:Action="http://services/ServicioCliente/loginClienteResponse" message="tns:loginClienteResponse" />
</operation>
<operation name="actualizarCliente">
<input wsam:Action="http://services/ServicioCliente/actualizarClienteRequest" message="tns:actualizarCliente" />
<output wsam:Action="http://services/ServicioCliente/actualizarClienteResponse" message="tns:actualizarClienteResponse" />
</operation>
<operation name="obtenerClientePorEmail">
<input wsam:Action="http://services/ServicioCliente/obtenerClientePorEmailRequest" message="tns:obtenerClientePorEmail" />
<output wsam:Action="http://services/ServicioCliente/obtenerClientePorEmailResponse" message="tns:obtenerClientePorEmailResponse" />
</operation>
<operation name="verificarCliente">
<input wsam:Action="http://services/ServicioCliente/verificarClienteRequest" message="tns:verificarCliente" />
<output wsam:Action="http://services/ServicioCliente/verificarClienteResponse" message="tns:verificarClienteResponse" />
</operation>
<operation name="registrarCliente">
<input wsam:Action="http://services/ServicioCliente/registrarClienteRequest" message="tns:registrarCliente" />
<output wsam:Action="http://services/ServicioCliente/registrarClienteResponse" message="tns:registrarClienteResponse" />
</operation>
<operation name="listarClientes">
<input wsam:Action="http://services/ServicioCliente/listarClientesRequest" message="tns:listarClientes" />
<output wsam:Action="http://services/ServicioCliente/listarClientesResponse" message="tns:listarClientesResponse" />
</operation>
<operation name="eliminarCliente">
<input wsam:Action="http://services/ServicioCliente/eliminarClienteRequest" message="tns:eliminarCliente" />
<output wsam:Action="http://services/ServicioCliente/eliminarClienteResponse" message="tns:eliminarClienteResponse" />
</operation>
</portType>
<binding name="ServicioClientePortBinding" type="tns:ServicioCliente">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="loginCliente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="actualizarCliente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerClientePorEmail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verificarCliente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="registrarCliente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listarClientes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="eliminarCliente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ServicioCliente">
<port name="ServicioClientePort" binding="tns:ServicioClientePortBinding">
<soap:address location="http://localhost:8091/appServidor/ServicioCliente" />
</port>
</service>
</definitions>