src/conf/xml-resources/web-service-references/ServicioCliente/wsdl/localhost_8091/appServidor/ServicioCliente.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="actualizarCliente" type="tns:actualizarCliente" />

<xs:element name="actualizarClienteResponse" type="tns:actualizarClienteResponse" />

<xs:element name="eliminarCliente" type="tns:eliminarCliente" />

<xs:element name="eliminarClienteResponse" type="tns:eliminarClienteResponse" />

<xs:element name="listarClientes" type="tns:listarClientes" />

<xs:element name="listarClientesResponse" type="tns:listarClientesResponse" />

<xs:element name="loginCliente" type="tns:loginCliente" />

<xs:element name="loginClienteResponse" type="tns:loginClienteResponse" />

<xs:element name="obtenerClientePorEmail" type="tns:obtenerClientePorEmail" />

<xs:element name="obtenerClientePorEmailResponse" type="tns:obtenerClientePorEmailResponse" />

<xs:element name="registrarCliente" type="tns:registrarCliente" />

<xs:element name="registrarClienteResponse" type="tns:registrarClienteResponse" />

<xs:element name="verificarCliente" type="tns:verificarCliente" />

<xs:element name="verificarClienteResponse" type="tns:verificarClienteResponse" />

<xs:complexType name="actualizarCliente">
<xs:sequence>
<xs:element name="idCliente" type="xs:int" />
<xs:element name="idTipo" type="xs:int" />
<xs:element name="dni" type="xs:string" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="apellido" type="xs:string" minOccurs="0" />
<xs:element name="email" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
<xs:element name="telefono" type="xs:string" minOccurs="0" />
<xs:element name="direccion" type="xs:string" minOccurs="0" />
<xs:element name="verificado" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarClientes">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listarClientesResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0" />
<xs:element name="direccion" type="xs:string" minOccurs="0" />
<xs:element name="dni" type="xs:string" minOccurs="0" />
<xs:element name="email" type="xs:string" minOccurs="0" />
<xs:element name="idCliente" type="xs:int" />
<xs:element name="idTipo" type="xs:int" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
<xs:element name="telefono" type="xs:string" minOccurs="0" />
<xs:element name="verificado" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarCliente">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="apellido" type="xs:string" minOccurs="0" />
<xs:element name="email" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
<xs:element name="telefono" type="xs:string" minOccurs="0" />
<xs:element name="direccion" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerClientePorEmail">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerClientePorEmailResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarCliente">
<xs:sequence>
<xs:element name="idCliente" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginCliente">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarCliente">
<xs:sequence>
<xs:element name="idCliente" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
</xs:schema>