src/conf/xml-resources/web-service-references/ServicioEvento/wsdl/localhost_8091/appServidor/ServicioEvento.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="ServicioEvento">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8091/appServidor/ServicioEvento?xsd=1" />
</xsd:schema>
</types>
<message name="obtenerEventoPorId">
<part name="parameters" element="tns:obtenerEventoPorId" />
</message>
<message name="obtenerEventoPorIdResponse">
<part name="parameters" element="tns:obtenerEventoPorIdResponse" />
</message>
<message name="agregarEvento">
<part name="parameters" element="tns:agregarEvento" />
</message>
<message name="agregarEventoResponse">
<part name="parameters" element="tns:agregarEventoResponse" />
</message>
<message name="listarEventos">
<part name="parameters" element="tns:listarEventos" />
</message>
<message name="listarEventosResponse">
<part name="parameters" element="tns:listarEventosResponse" />
</message>
<message name="actualizarEvento">
<part name="parameters" element="tns:actualizarEvento" />
</message>
<message name="actualizarEventoResponse">
<part name="parameters" element="tns:actualizarEventoResponse" />
</message>
<message name="eliminarEvento">
<part name="parameters" element="tns:eliminarEvento" />
</message>
<message name="eliminarEventoResponse">
<part name="parameters" element="tns:eliminarEventoResponse" />
</message>
<portType name="ServicioEvento">
<operation name="obtenerEventoPorId">
<input wsam:Action="http://services/ServicioEvento/obtenerEventoPorIdRequest" message="tns:obtenerEventoPorId" />
<output wsam:Action="http://services/ServicioEvento/obtenerEventoPorIdResponse" message="tns:obtenerEventoPorIdResponse" />
</operation>
<operation name="agregarEvento">
<input wsam:Action="http://services/ServicioEvento/agregarEventoRequest" message="tns:agregarEvento" />
<output wsam:Action="http://services/ServicioEvento/agregarEventoResponse" message="tns:agregarEventoResponse" />
</operation>
<operation name="listarEventos">
<input wsam:Action="http://services/ServicioEvento/listarEventosRequest" message="tns:listarEventos" />
<output wsam:Action="http://services/ServicioEvento/listarEventosResponse" message="tns:listarEventosResponse" />
</operation>
<operation name="actualizarEvento">
<input wsam:Action="http://services/ServicioEvento/actualizarEventoRequest" message="tns:actualizarEvento" />
<output wsam:Action="http://services/ServicioEvento/actualizarEventoResponse" message="tns:actualizarEventoResponse" />
</operation>
<operation name="eliminarEvento">
<input wsam:Action="http://services/ServicioEvento/eliminarEventoRequest" message="tns:eliminarEvento" />
<output wsam:Action="http://services/ServicioEvento/eliminarEventoResponse" message="tns:eliminarEventoResponse" />
</operation>
</portType>
<binding name="ServicioEventoPortBinding" type="tns:ServicioEvento">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="obtenerEventoPorId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="agregarEvento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listarEventos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="actualizarEvento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="eliminarEvento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ServicioEvento">
<port name="ServicioEventoPort" binding="tns:ServicioEventoPortBinding">
<soap:address location="http://localhost:8091/appServidor/ServicioEvento" />
</port>
</service>
</definitions>